.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/libraryMobile/build
/libraryMobile/build/generated
/libraryMobile/build/intermediates
/libraryMobile/build/outputs
/libraryMobile/build/poms
/libraryMobile/build/tmp
